# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env
.env.*

# Logs
logs/
*.log

# SQLite database files
data/*.db

# OS junk
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
